body {
    display: grid;
}
header {
    background-color: #413f3f;
    height: 120%;

}
.home-page {
    display: block;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

nav ul li a {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: large;
    text-decoration: none;
}

.flashing-preference {
    margin-top: 20px;
}
footer ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}

footer ul li a {
    text-decoration: none;
}