body {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
}
.main-header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #413f3f;
  height: 120%;
}
.home-page {
  display: block;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  text-decoration: none;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

nav ul li a {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: large;
  text-decoration: none;
}

.flashing-preference {
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 20px;
}

article {
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 20px;
}
.author-info {
  list-style: none;
}

img {
  width: 30%;
}

footer {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #413f3f;
}
footer ul {
  display: flex;
  list-style: none;
  column-gap: 30px;
}

footer ul li a {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: large;
  text-decoration: none;
}

.blink {
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: red;
  }
  100% {
    opacity: 0;
    color: blue;
  }
}
